.title {
  position: relative;
  left: 15vw;
}

.individual-paste {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr)) 1fr;
  grid-row-gap: 20px;
  column-gap: 10px;
  height: 20vh;
  font-size: 2.5vh;
  border-top: 20px solid white;
  border-left: 20px solid white;
  border-right: 20px solid white;
  overflow: hidden;
  background-color: rgb(224, 234, 247);
  justify-items: center;
  align-items: top;
}

.paste-message {
  overflow: hidden;
}

#all-pastes {
  padding: 10px;
  width: 75%;
}

#input-field {
  padding: 15px;
  border-bottom: 1px solid black;
  font-size: 2.9vh;
  background-color: rgb(240, 242, 255);
  position: relative;
  width: 69%;
  left: 4vh;
}

.edit-button {
  height: 40%;
  width: 80%;
  background-color: white;
  border-color: white;
  grid-column: 5;
  align-self: center;
}

.delete-button {
  height: 40%;
  width: 80%;
  background-color: white;
  border-color: white;
  grid-column: 6;
  align-self: center;
}

.comment-button {
  height: 40%;
  width: 80%;
  background-color: white;
  border-color: white;
  grid-column: 4;
  align-self: center;
}

#submit-button {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  font-size: 2.9vh;
  padding: 15px;
  color: Black;
  font-weight: bolder;
}

.side-summary {
  position: absolute;
  width: 20%;
  left: 76vw;
  top: 37vh;
}
